.widget{
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0.06;
    margin-top: 5px;
}

.widgetOptions{
    cursor: pointer;
    padding: 10px;
}

.widgetOptions > img{
    width: 30px;
    object-fit: contain;
}

